body {
    min-height: 100vh;
    background-image: url("bg1.jpg");
    color: #ffffff;
    text-align: center;
    font-size: 1.9rem;
    font-family: 'VT323', monospace;
    background-size: cover;
    background-repeat: no-repeat;
}

.container.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.head>* {
    margin: 0;
}

#subhead {
    width: 300px;
    padding: 2px;
    background-color: #18124158;
    box-shadow: 0 0 5px 5px #18124158;
}

#help {
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 20px;
    font-size: 2.5rem;
    background-color: #332d55;
    border: 2px solid black;
    border-radius: 50%;
}

#help:hover {
    width: 45px;
    height: auto;
    line-height: 45px;
}

#choicebtns {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

button.choicebtn {
    position: absolute;
    width: 15vw;
    height: 15vw;
    margin-top: 15px;
    background-color: #00000000;
    border: none;
}

#rock,
#paper,
#scissors {
    background-size: cover;
    background-repeat: no-repeat;
}

#rock {
    left: 20vw;
    background-image: url("rock.png");
}

#paper {
    background-image: url("paper.png");
}

#scissors {
    right: 20vw;
    background-image: url("scissors.png");
}

.choicebtn:hover {
    width: 16vw;
    height: 16vw;
    cursor: pointer;
}

.choicebtn:active {
    opacity: 0.5;
}

.disabled {
    pointer-events: none;
}

.container.popup {
    display: flex;
    justify-content: center;
}

#outcomes {
    width: 45%;
    background-color: #000000df;
    border-radius: 10px;
    margin: 250px auto 0 auto;
    text-align: center;
    border-collapse: collapse;
}

td {
    width: 300px;
    border-bottom: 2px solid #332d55;
    border-top: 2px solid #332d55;
    border-collapse: collapse;
}

td:last-child {
    border-bottom: none;
}

tr {
    height: 40px;
}

#gamepopup {
    text-align: center;
    width: 400px;
    height: 300px; 
}

#helppopup{
    width: 50vw;
    font-size: 1.4rem;
}
#help-txt{
    text-align: left;
    padding: 0px 10px ;
}

#gamepopup,
#helppopup {
    position: absolute;
    visibility: hidden;
    top: 75px;
    z-index: 2;
    border: 2px solid #74159ad4;
    background-color: #110b2ffa;
    box-shadow: 0 0 5px 5px #74159ad4;
    border-radius: 10px;
}

.close {
    font-size: 4rem;
    font-weight: 600;
    display: inline-block;
    transform: rotate(45deg);
    position:absolute;
    top: 0px;
    right: 20px;
    color: #ffffff8c;
  }

  .close:hover{
    cursor: pointer;
    color: #ffffff;
  }
  
.show {
    visibility: visible !important;
}

#resetbtn {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 900;
    font-family: 'VT323', monospace;
    color: #110b2f;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

#resetbtn:hover {
    cursor: pointer;
    font-size: 40px;
}

#resetbtn:active {
    background-color: #7f7984;
    color: #332d55;
}

footer {
    margin-top: 30px;
}