body{
    background-image: url("bg1.jpg");
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-family: 'VT323', monospace;
}

button{
    width: 200px;
    height: 180px;
    margin: 15px;
    font-size: 30px;
    color: #ffffff;
    background-color: #751ca6;
    border: 2px solid #110b2f;
    border-radius: 10px;
    font-family: 'VT323', monospace;
}
button:hover{
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}